.content-main{
  width: 100%;
  height: auto;
 // min-height: 100vh;
  display: flex;

  >.content-map{
    width: auto;
    min-width: 330px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #f4f4f4;

  }
  >.category-matrix-display{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: silver;

  }
}
