.app-header {
  width: 100%;
  position: sticky;
  .header {
    background-color: black;

    position: sticky;
    top: 0;
    z-index: 99;
    > .mat-tool {
      > .toolbarRow {
        background: #000;
        color: #fff;
        padding: 0px 18px;
        height: 85px;

        > .dash-logo {
          display: flex;
          align-items: center;
          > .logo-img {
            > .stockit-logo {
              width: 200px;
              height: auto;
            }
          }
          > .dash-sep {
            color: #fff;
            > i {
              font-size: 3.5rem;
              color: #908585;
            }
          }
        }
        > .main-nav {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          > .main-nav-wide-screen {
            > a {
              font-size: 20px;
              &:active,
              &.active {
                border: 0;
                border: 0;
                outline: none;
                color: #fff;
                background-color: #ff7129;
                font-size: 1rem;
              }
              &:hover {
                color: #fff;
                background-color: #ff7129;
                border: 0;
                outline: none;
              }
            }
          }
        }
      }
    }
  }
  > .header-filter-toolbar {
    width: 100%;
    position: sticky;
  }
}

//Media Query
@media only screen and (max-width: 768px) {
}

.material-icons {
  font-size: 2.5rem;
}

.acc-main {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  > .acc-icon {
    min-width: 28px;
    margin: -13px 16px;
  }
  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
}
