<div class="app-charts">

  <div class="chart-section">

    <div class="app-charts-head">
      <div class="OSA-head">OSA Overview</div>
    </div>
    <div class="chart-level-main">
      <div class="chart-levels">
        <div class="category-levels">

          <div class="head-main">Category Level OSA</div>
            <!-- <app-linegraph> </app-linegraph> -->
            <!-- <app-pie> </app-pie> -->
            <app-bargraph> </app-bargraph>
          <!-- <div class="category-charts">
            <div class="category-sections">
              <div class="chart-sec-1">
                <div class="chart-1 charts">
                  <div class="title-chart">Female Haircare products</div>
                  <div class="percent">10%</div>
                </div>
                <div class="chart-2 charts">
                  <div class="title-chart">Feminine Hygine</div>
                  <div class="percent">84.4%</div>
                </div>
              </div>
              <div class="chart-sec-2">
                <div class="chart-4 charts">
                  <div class="title-chart">Baby Care Products</div>
                  <div class="percent">42.3%</div>
                </div>
              </div>
            </div>

            <div class="chart-3 charts">
              <div>Hair Care</div>
              <div class="percent">94.4%</div>
            </div>

          </div> -->
        </div>
        <div class="SKU-levels">
          <div class="head-main">SKU Level OSA</div>
          <div>
            <app-list1></app-list1>
          </div>

        </div>
      </div>
      <div class="brand-level">
        <div class="head-main">Brand Level OSA</div>
        <div>
          <app-list></app-list>
        </div>




      </div>
      <div class="chart-RCA">
        <div class="RCA-L1">
          <div class="head-main">Macro RCA</div>
          <div class="RSA-main">
            <app-dougnut> </app-dougnut>
          </div>



        </div>
        <div class="RCA-L2">
          <div class="head-main">Micro RCA</div>
          <div class="RSA-main">
            <!-- <div class="circle-img">
              <img class="image-circle" src="./assets/charts/circle.png" alt="Map-India">
            </div>
            <div class="rsa-cat">
              <div class="cat-lists"><span class="circle circle-1"></span>Accounting</div>
              <div class="cat-lists"><span class="circle circle-2"></span>Master Data</div>
              <div class="cat-lists"><span class="circle circle-3"></span>Distribution</div>
            </div> -->
            <app-doughnut> </app-doughnut>
          </div>


        </div>
      </div>
    </div>


  </div>
</div>
